@import "tailwindcss";

@theme {
  --font-dyna: DynaPuff;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

.highlighted-text {
  @apply font-semibold text-cyan-500 relative hover:after:w-full after:transition-all after:duration-300 after:absolute after:left-0 after:bottom-0 after:h-0.5 after:w-0 after:bg-cyan-300 cursor-pointer hover:text-cyan-300 transition-colors; 
}

.highlighted-vue {
  @apply font-semibold text-green-700 relative hover:after:w-full after:transition-all after:duration-300 after:absolute after:left-0 after:bottom-0 after:h-0.5 after:w-0 after:bg-green-300 cursor-pointer hover:text-green-300 transition-colors; 
}

.highlighted-nuxt {
  @apply font-semibold text-green-400 relative hover:after:w-full after:transition-all after:duration-300 after:absolute after:left-0 after:bottom-0 after:h-0.5 after:w-0 after:bg-green-300 cursor-pointer hover:text-green-300 transition-colors; 
}



@font-face {
  font-family: DynaPuff;
  font-style: normal;
  src: url("../fonts/DynaPuff-VariableFont_wdth\,wght.ttf");
}