@import "tailwindcss";

@theme {
  --font-dyna: DynaPuff;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}


@font-face {
  font-family: DynaPuff;
  font-style: normal;
  src: url("../fonts/DynaPuff-VariableFont_wdth\,wght.ttf");
}