@import "tailwindcss";

@theme {
  --color-main1: #c2efff ;
  --color-main2: #90fbfb;
  --color-main3: #58c7f0 ;
  
  --font-dyna: DynaPuff;
}


@font-face {
  font-family: DynaPuff;
  font-style: normal;
  src: url("../fonts/DynaPuff-VariableFont_wdth\,wght.ttf");
}